.gallery-filter{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:15px;

padding:50px 8%;

}

.gallery-filter button{

padding:12px 28px;

border:none;

background:#f1f1f1;

border-radius:50px;

cursor:pointer;

font-size:16px;

font-weight:500;

transition:.3s;

}

.gallery-filter button:hover{

background:#17b978;

color:white;

}

.gallery-filter .active{

background:#14532d;

color:white;

}

.gallery-grid{

width:90%;

margin:auto;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:30px;

padding-bottom:70px;

}

.gallery-card{

overflow:hidden;

border-radius:15px;

background:white;

box-shadow:0 10px 25px rgba(0,0,0,.12);

transition:.3s;

}

.gallery-card:hover{

transform:translateY(-8px);

}

.gallery-card img{

width:100%;

height:250px;

object-fit:cover;

display:block;

transition:.4s;

}

.gallery-card:hover img{

transform:scale(1.08);

}

.gallery-card video{

width:100%;

height:250px;

object-fit:cover;

display:block;

}

@media(max-width:768px){

.gallery-grid{

grid-template-columns:1fr;

}

.gallery-filter{

padding:40px 20px;

gap:12px;

}

.gallery-filter button{

font-size:14px;

padding:10px 18px;

}

}