.page-banner{
    height:350px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.banner-content{
    color:white;
}

.banner-content h1{
    font-size:48px;
    margin-bottom:10px;
}

.banner-content p{
    font-size:20px;
}
/* Responsive */

@media(max-width:768px){

    .page-banner{
        height:260px;
    }

    .banner-overlay h1{
        font-size:34px;
    }

    .banner-overlay p{
        font-size:17px;
    }

}